<article class="container my-4" *ngIf="cartItems.length > 0">
  <table class="w-100 text-center table">
    <thead class="fs-4">
      <tr>
        <th>Name</th>
        <th>Photo</th>
        <th>Color</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total Price</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody class="mt-5">
      <tr ngFor></tr>
      <tr *ngFor="let item of cartItems">
        <td class="align-middle">
          <h3>
            <a class="form-control-plaintext text-decoration-none" [routerLink]="['/product', item.id]">
              {{ item.name }}
            </a>
          </h3>
        </td>
        <td class="align-middle">
          <img width="150px" height="150px" [src]="item.photo" alt="{{ item.name }} photo" />
        </td>
        <td class="align-middle">
          <h3>{{ item.color }}</h3> <!-- Assuming color is stored as a single color string -->
        </td>
        <td class="align-middle">
          <h3>{{ item.size }}</h3> <!-- Assuming size is a string value -->
        </td>
        <td class="align-middle">
          <h3>{{ item.quantity }}</h3>
        </td>
        <td class="align-middle">
          <h3>{{ item.disc ? (item.priceAfterDisc | currency) : (item.price | currency) }}</h3>
        </td>
        <td class="align-middle">
          <h3>{{ (item.disc ? item.priceAfterDisc : item.price) * item.quantity | currency }}</h3>
        </td>
        <td class="align-middle">
          <button (click)="removeFromCart(item.id)" class="btn text-danger">
            <mat-icon class="mt-1">close</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex">
    <section class="w-75">
      <form class="w-100">
        <section class="d-flex justify-content-around my-5">
            <div><label>Full Name</label><input required class="form-control" type="text" ></div>
            <div><label>Mail</label><input required class="form-control" type="email" ></div>
            <div><label>Phone Number</label><input required class="form-control" type="tel" ></div>
        </section>
        <section class="d-flex justify-content-around my-5">
          <div><label>Area</label><input required class="form-control" type="text" ></div>
          <div><label>Street</label><input required class="form-control" type="text" ></div>
          <div><label>Building</label><input required class="form-control" type="text" ></div>
          <div><label>Floor</label><input required class="form-control" type="number" min="0"></div>
        </section>
      </form>
    </section>
    <section class="w-25 p-4 my-4 rounded-3 border border-1 custom-section">
      <div class="w-100 d-flex justify-content-between align-items-center mb-3">
        <h3>Total Items</h3>
        <p>{{ totalCart | currency }}</p>
      </div>
      <div class="w-100 d-flex justify-content-between align-items-center mb-3">
        <h3>Delivery</h3>
        <p>{{ '30' | currency }}</p>
      </div>
      <div class="w-100 d-flex justify-content-between align-items-center mb-3">
        <h3>Total Cost</h3>
        <p>{{ totalCart + 30 | currency }}</p>
      </div>
      <button class="btn btn-outline-dark" (click)="checkout()">Checkout</button>
    </section>
  </div>
</article>

<article class="container my-5 text-center" *ngIf="cartItems.length == 0">
  <h1>No items in cart</h1>
</article>